body.runLog {
    background-color: #1d1d1d;
    color: rgb(204, 204, 204);
}

.Severity {
    text-align: right;
}

.Info {
    color: darkgreen;
}

.Warning {
    color: orange;
}

.Error {
    color: red;
}

table.logTable {
    
    font-family: "Courier New", Courier, monospace;
}

td.time {
    min-width: 140px;
    color: slateblue;
}

tr.logTr {
    vertical-align: top;
    padding-bottom: 5px;
}